body{
    text-align: center;
    background-color: rgb(197, 41, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container{
    right: 50%;
    top: 50%;
    margin-top: 50px;
    color: white;
    font-size: 21px;
}

.imagemfixa{

    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 30px;
    right: 100px;
    border: 5px solid rgb(231, 226, 226);
    border-radius: 8px;
}

.imagemfixa2{

    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 30px;
    left: 100px;
    border: 5px solid rgb(231, 226, 226);
    border-radius: 8px;

}



h3{
 font-size: 32px;
}
